[submodule "oh-my-zsh-custom/plugins/branch-manager"]
	path = oh-my-zsh-custom/plugins/branch-manager
	url = https://github.com/elstgav/branch-manager.git
[submodule "oh-my-zsh-custom/plugins/zsh-aws-vault"]
	path = oh-my-zsh-custom/plugins/zsh-aws-vault
	url = https://github.com/blimmer/zsh-aws-vault.git
[submodule "oh-my-zsh-custom/plugins/history-search-multi-word"]
	path = oh-my-zsh-custom/plugins/history-search-multi-word
	url = https://github.com/zdharma-continuum/history-search-multi-word.git
