[hub]
        protocol = https
[user]
        name = Ben Limmer
        email = ben@benlimmer.com
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBpXgVcuFtncFRYl+OLiRxEwGQOnWRAVD6slZj1SgIc9
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[help]
        autocorrect = 1
[commit]
        gpgsign = true
[gpg]
        format = ssh
[gpg "ssh"]
        program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[pull]
        rebase = false
[rebase]
        autoStash = true
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[init]
        defaultBranch = main
[rerere]
        enabled = true
[branch]
        sort = -committerdate
